<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>UTExportedTypeDeclarations</key>
	<array/>
	<key>UTImportedTypeDeclarations</key>
	<array/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>位置情報を取得します</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>位置情報を取得します</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>位置情報を取得します</string>
</dict>
</plist>
